# ===========================
# Python
# ===========================
.venv/
venv/
__pycache__/
*.pyc

# ===========================
# AI Models
# ===========================
*.pkl
*.joblib
*.h5
*.keras
*.pt
*.pth
*.onnx

# ===========================
# React
# ===========================
node_modules/
dist/

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Jupyter
# ===========================
.ipynb_checkpoints/

# ===========================
# Logs
# ===========================
*.log